.body{
    padding: 0;
    margin: 0
    
    
}

.bibliografia{
    background-color: orangered;
    padding: auto;
}

.logo{
    background-color: white;
    display: inline-block;
    padding: auto;
}

.descripcionbibliografica{
    display: inline-block;
    padding: auto;
    
}
 
.logoinicio{
    background-color: aqua;
}